@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(245, 251, 255, 1);
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 74px;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  gap: 28px;
  background: rgba(255, 255, 255, 1);

  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1%;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin: -90px 700px 0;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 158px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;

    padding: 0px 10px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 810px;
  padding: 260px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 203.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 241px;
  height: 172px;

  color: #482600;
}

.home-text {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  -webkit-text-stroke: 1px rgba(139, 45, 203, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-shadow: 0px 4px 1px rgba(139, 45, 203, 1);
  padding: 16px 0 24px;
}
.home__google-button_image {
  width: 208px;
  height: 54px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1023px;
    padding: 224px 0px 0px;
    background-image: url("/img/home/Frame\ 204.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    width: 406px;
    height: 289px;
  }

  .home-text {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
  }
}
.why {
  width: 375px;
  margin: auto;
  padding: 80px 19px 0;
}

.why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.why-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}
.why-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 118px 113px 0;
  }
  .why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .why-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .why-text-bold {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .why-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 80px 19px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.uniqueness-text {
  padding-top: 12px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
  padding: 24px 0 16px;
}

.uniqueness-img {
  width: 208px;
  height: 222px;
  margin-top: 17px;
  z-index: 2;
  position: relative;
}
.uniqueness-image {
  position: absolute;
  top: 300px;
  left: 1px;
  z-index: 1;
}
.uni-img {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .uni-img {
    margin: 0;
  }
  .uniqueness {
    width: 1440px;
    padding: 120px 108px 0;
    flex-direction: row;
    justify-content: start;
  }
  .uniqueness-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    width: 680px;
    text-align: left;
    padding: 24px 0 16px;
  }
  .uniqueness-img {
    width: 338px;
    height: 360px;

    margin-top: 0px;
    z-index: 2;
  }
  .uniqueness-image {
    position: absolute;
    top: -0px;
    left: 1050px;
    z-index: 1;
  }
}
.about {
  padding: 50px 19px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
  text-shadow: 0px 4px 1px rgba(139, 45, 203, 1);

  -webkit-text-stroke: 1px rgba(139, 45, 203, 1);
  color: rgba(255, 255, 255, 1);
}

.about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;

  padding: 32px 0px 0;
}
.about-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-img {
    display: flex;
    position: absolute;
    top: 416px;
    right: 42px;
  }
  .about {
    padding: 106px 108px 0;
    width: 1440px;
    position: relative;
  }
  .about-title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
  }

  .about-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;

    padding: 48px 0px 0;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}

.how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  width: 336px;
  height: 104px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.how-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}
.how-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 120px 108px 0;
    position: relative;
  }

  .how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .how-item {
    width: 392px;
    height: 176px;
    border-radius: 16px;
    padding: 16px;
  }

  .how-text-bold {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .how-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.characters {
  padding: 80px 20px 0;
  margin: auto;
  width: 375px;
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 16px;
}
.characters-item {
  display: flex;
  gap: 16px;
  align-items: start;
}
.characters-img {
  width: 35px;
  height: 35px;
}
.characters-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}
.characters-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 120px 119px 0px;
    width: 1440px;
  }
  .characters-list {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    gap: 16px;
  }
  .characters-item {
    display: flex;
    gap: 16px;
    align-items: start;
  }
  .characters-img {
    width: 50px;
    height: 50px;
  }
  .characters-text-bold {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .characters-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}
.reviews {
  position: relative;
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.reviews-image {
  position: absolute;
  top: 25px;
  left: 0px;
}
.reviews-list {
  padding-top: 32px;
}
.reviews-item {
  margin: 0 5px;
  width: 270px;
  height: 200px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(244, 167, 61, 1);
}

.reviews-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(139, 45, 203, 1);

  -webkit-text-stroke: 1px rgba(139, 45, 203, 1);
  color: rgba(255, 255, 255, 1);
  color: #ffffff;
}
.reviews-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  height: 96px;
  margin: 14px 0 12px;
}
.reviews-img {
  width: 138px;
  height: 17px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 120px 108px 0;
  }
  .reviews-image {
    display: none;
  }
  .reviews-list {
    padding-top: 48px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 385px;
    height: 213px;
    border-radius: 16px;
    padding: 16px;
  }

  .reviews-text-bold {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
  }
  .reviews-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;

    height: 90px;
    margin: 14px 0 14px;
  }
  .reviews-img {
    width: 218px;
    height: 33px;
    gap: 14px;
  }
}

.faq {
  padding: 100px 16px 30px;
  margin: auto;
  width: 375px;
  position: relative;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 2;
}

.faq-item {
  border-radius: 16px;
  padding: 24px;
  background: rgba(249, 240, 199, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}
.toggle-button img {
  transition: transform 0.3s ease;
}
.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
}
.faq-image {
  position: absolute;
  top: 532px;
  width: 300px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 120px 360px 0;
    width: 1440px;
  }
  .faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 2;
  }

  .faq-item {
    border-radius: 16px;
    padding: 24px;
    background: rgba(249, 240, 199, 1);
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }

  .toggle-button {
    background: none;
    border: none;

    cursor: pointer;
  }
  .toggle-button img {
    transition: transform 0.3s ease;
  }
  .faq-answer {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .faq-image {
    position: absolute;
    top: -10px;
    left: 0;
  }
}
.gallery {
  width: 375px;
  position: relative;
  margin: auto;
  padding: 80px 0px;
}

.gallery__list {
  padding-top: 32px;
}
.gallery__item {
  width: 261px;
  height: 465px;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 375px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 120px 0;
  }
  .gallery-image {
    position: absolute;
    top: 0px;

    right: 0;
    width: 375px;
  }

  .gallery__item {
    width: 372px;
    height: 661px;
    border-radius: 16px;
  }

  .gallery__list {
    padding-top: 48px;
  }
}
.footer {
  padding: 22px;
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.25);
}
.footer-container {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 23px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.footer-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(0, 0, 0, 1);
}

.footer-copyright {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 36px;
    align-items: center;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 42px;
  }
  .footer-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}
.policy-terms-container {
  padding: 124px 20px 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 108px 116px;
    width: 1440px;
    margin: auto;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    padding-top: 40px;

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 28px;
  background: rgba(212, 224, 232, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);

  font-family: Montserrat;
  width: 319px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}
#accept-cookies {
  background: rgba(255, 255, 255, 1);

  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px 100px;
    display: none;
  }
}
